@model LanchesMC.Models.Categoria

@{
    ViewData["Title"] = "Details";
}

<h3 class="marginTop">Detalhes da categoria</h3>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoriaNome)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CategoriaNome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CategoriaId">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
