@*@model IEnumerable<LanchesMC.Models.Pedido>*@
@model ReflectionIT.Mvc.Paging.PagingList<LanchesMC.Models.Pedido>

@{
    ViewData["Title"] = "Index";
}

<h3 class="marginTop">Pedidos</h3>

<form method="get" class="form-inline">
    <input name="filter" class="form-control" placeholder="filtro"
           value="@Model.RouteValue["Filter"]" />
    <button type="submit" class="btn btn-info">
        <span class="glyphicon glyphicon-search" aria-hidden="true"></span> Procurar
    </button>
</form>

Total de Pedidos : @Model.TotalRecordCount
<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>

<p>
    <a asp-action="Create">Criar Pedido</a>
</p>
<div class="row" style="font-weight:bold;">
    <div class="col-xs-1">
        @*@Html.DisplayNameFor(model => model.Nome)*@
        @Html.SortableHeaderFor(model => model.Nome, "Nome")
    </div>
    <div class="col-xs-1">
        @Html.DisplayNameFor(model => model.Sobrenome)
    </div>
    <div class="col-xs-3">
        @Html.DisplayNameFor(model => model.Endereco1)
    </div>
    <div class="col-xs-2">
        @Html.DisplayNameFor(model => model.Telefone)
    </div>
    <div class="col-xs-2">
        Envio
    </div>
    <div class="col-xs-3">&nbsp;</div>
</div>

@foreach (var item in Model)
{
    <div class="row">
        <div class="col-xs-1">
            @Html.DisplayFor(modelItem => item.Nome)
        </div>
        <div class="col-xs-1">
            @Html.DisplayFor(modelItem => item.Sobrenome)
        </div>
        <div class="col-xs-3">
            @Html.DisplayFor(modelItem => item.Endereco1)
        </div>
        <div class="col-xs-2">
            @Html.DisplayFor(modelItem => item.Telefone)
        </div>
        <div class="col-xs-2">
            @Html.DisplayFor(modelItem => item.PedidoEnviado)
        </div>
        <div class="col-xs-3">
            <a asp-action="Edit" asp-route-id="@item.PedidoId">Editar</a> |
            <a asp-action="Details" asp-route-id="@item.PedidoId">Detalhes</a> |
            <a asp-action="Delete" asp-route-id="@item.PedidoId">Excluir</a> |
            <a asp-action="PedidoLanches" asp-route-id="@item.PedidoId">Ver Lanches</a>
        </div>
    </div>
}

<div>
    <vc:pager paging-list="@Model"></vc:pager>
</div>
